body {
  #sfcf {
    .sfcf {
      &__button {
        display: flex;
        align-items: center;
        appearance: none;
        margin: 0;
        padding: 8px 20px;
        font-family: var(--font);
        font-size: 16px;
        line-height: normal;
        font-weight: 700;
        color: var(--sfcf-button-text);
        text-decoration: none;
        text-align: center;
        background-color: var(--sfcf-button-background);
        border: unset;
        border-radius: 20px;
        box-shadow: unset;
        cursor: pointer;
        transition: opacity .25s ease-in-out;

        &:hover {
          opacity: .88;
        }

        &-text {
          position: relative;
          margin-left: 20px;
          white-space: nowrap;
          transform: translateX(100%);
          opacity: 0;
          transition: transform .25s ease-in-out, opacity .15s ease-in-out 0s;
        }

        &-icon {
          position: absolute;
          right: 12px;
          top: calc(50% - 1px);
          width: 40px;
          height: 40px;
          max-width: unset;
          max-height: unset;
          transform: translateY(-50%);
          z-index: 2;
        }

        &.-toggler {
          position: absolute;
          right: 0;
          bottom: 0;
          width: auto;
          width: auto;
          max-width: 64px;
          height: 64px;
          padding: 8px 64px 8px 0;
          color: var(--sfcf-toggler-color);
          font-size: 14px;
          background-color: var(--sfcf-toggler-background);
          border-radius: 32px;
          transition: max-width .25s ease-in-out;
          overflow: hidden;

          .sfcf__button {
            &-text {
              color: var(--sfcf-toggler-color);
            }
          }

          &:hover {
            max-width: 250px;
            opacity: 1;

            .sfcf__button {
              &-text {
                opacity: 1;
                transform: translateX(0);
                transition: transform .25s ease-in-out, opacity .15s ease-in-out .075s;
              }
            }
          }
        }

        &.-close {
          position: absolute;
          right: 22px;
          top: 16px;
          width: 40px;
          height: 40px;
          padding: 0;

          .sfcf__button-close-icon {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 16px;
            height: 16px;
            transform: translateX(-50%) translateY(-50%);
            mask: url('../images/close.svg') no-repeat center;
            background-color: var(--sfcf-button-text);
          }
        }

        &.-submit {
          margin-left: auto;
        }
      }
    }
  }
}