#sfcf_contact_popup {
  position: fixed;
  z-index: 999999;
  bottom: 14px;
  right: 24px;

  @media screen and (min-width: $lg) {
    right: 16px;
    bottom: 15px;

  }

  .sfcf {
    &__content {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: auto;
      transition: transform 0.45s ease-in-out, visibility 0.45s ease-in-out;
      will-change: transform;
      transform: translateX(100vw);
      visibility: hidden;

      @media screen and (min-width: $lg) {
        position: absolute;
        top: auto;
        left: auto;
        width: auto;
        height: auto;
      }
    }

    &__form-close {
      position: absolute;
      top: 14px;
      right: 14px;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background: #00E6A7;
        background:    -moz-linear-gradient(left,  #00E6A7 0%, #00E55F 50%, #00E6A7 100%);
        background: -webkit-linear-gradient(left,  #00E6A7 0%, #00E55F 50%, #00E6A7 100%);
        background:         linear-gradient(to right,  #00E6A7 0%, #00E55F 50%, #00E6A7 100%);
        background-size: 200% auto;
        border-radius: 20px;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e6a7', endColorstr='#00e55f',GradientType=1 );
        will-change: background-position;
        transition: background-position 0.45s;

        &:hover {
          background-position: 100%;
        }

        &:focus {
          outline: none;
        }
      }
    }

    &__form {
      width: 100vw;
      border-radius: 0;
      color: $c_white;
      background-color: $c_primary;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;

      @media screen and (min-width: $lg) {
        width: 550px;
        min-height: auto;
        border-radius: 16px;
      }

    }

    &__toggler {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      float: right;
      height: 64px;
      min-width: 64px;
      padding: 0 10px;
      background-color: $c_primary;
      border-radius: 32px;
      cursor: pointer;
      text-decoration: none;

      .toggler {
        &__label {
          max-width: 0;
          overflow: hidden;
          color: $c_white;
          font-size: 14px;
          line-height: 17px;
          text-decoration: none;
          white-space: nowrap;
          will-change: max-width, padding;
          transition: max-width 250ms ease-in-out, padding 250ms ease-in-out;
        }

        &__icon {
          width: 40px;
          height: 40px;
        }
      }

      &:hover,
      &:focus {
        .toggler {
          &__label {
            max-width: 300px;
            padding: 0 16px 0 14px;
          }
        }
      }
    }

    &__button {
      padding: 8px 20px;
      color: $c_white;
      font-size: 14px;
      font-weight: bold;
      line-height: 24px;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      background: #00E6A7;
      background:    -moz-linear-gradient(left,  #00E6A7 0%, #00E55F 50%, #00E6A7 100%);
      background: -webkit-linear-gradient(left,  #00E6A7 0%, #00E55F 50%, #00E6A7 100%);
      background:         linear-gradient(to right,  #00E6A7 0%, #00E55F 50%, #00E6A7 100%);
      background-size: 200% auto;
      border-radius: 20px;
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e6a7', endColorstr='#00e55f',GradientType=1 );
      will-change: background-position,color;
      transition: background-position 0.45s,color 0.45s;

      &:hover,
      &:focus {
        background-position: 100%;
        color: #fff;
      }

      &:focus {
        outline: -webkit-focus-ring-color auto 1px;
      }
    }
  }

  &.visible {
    .sfcf {
      &__content {
        visibility: visible;
        transform: translateX(0);
        z-index: auto;
      }
    }
  }
}
