body.--sfcf-opened {
  overflow: hidden;
  height: 100vh;

  html & {
    overflow: hidden;
  }
}

body {
  #sfcf {
    position: fixed;
    right: 16px;
    bottom: 16px;
    z-index: 99999;

    .sfcf {
      &__main {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--sfcf-main-background);
        // visibility: hidden; /* for testing */

        @media screen and (min-width: $lg) {
          border-radius: 16px;
        }
      }

      &__step {
        padding: 16px 22px;
      }

      &__header {
        margin-bottom: 24px;
      }
    }
  }
}

#sfcf_contact_popup {
  display: none !important;
}