@include fontFace('Poppins', 400, normal, 'Poppins', 'Regular');
@include fontFace('Poppins', 700, normal, 'Poppins', 'Bold');

body {
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  #sfcf {
    font-family: var(--sfcf-font);

    * {
      font-family: inherit;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 700;
    }

    .sfcf {
      &__heading {
        margin: 0;
        font-size: 24px;
        line-height: 32px;

        &.-success {
          max-width: 300px;
          margin: 0 auto;
          font-size: 32px;
          line-height: 40px;
        }
      }
    }

    .sfcf__heading,
    span,
    p {
      color: var(--sfcf-main-text);
    }
  }
}