 /**
  * FontFace mixin
  * Usage Example - see 'base/_typography.scss' file
  */
@mixin fontFace( $font_family, $font_weight, $font_style, $font_name, $font_type, $fonts_path: '../fonts', $font_version: '1.0.0' ) {
  @font-face {
    font-family: '#{$font_family}';
    font-style: $font_style;
    font-weight: $font_weight;

    font-display: swap;
    src: url('#{$fonts_path}/#{$font_name}-#{$font_type}.eot?v=#{$font_version}');
    src: url('#{$fonts_path}/#{$font_name}-#{$font_type}.eot?#iefix&v=#{$font_version}') format('embedded-opentype'),
    url('#{$fonts_path}/#{$font_name}-#{$font_type}.woff2?v=#{$font_version}') format('woff2'),
    url('#{$fonts_path}/#{$font_name}-#{$font_type}.woff?v=#{$font_version}') format('woff'),
    url('#{$fonts_path}/#{$font_name}-#{$font_type}.ttf?v=#{$font_version}') format('truetype'),
    url('#{$fonts_path}/#{$font_name}-#{$font_type}.svg?v=#{$font_version}#{$font_type}') format('svg');
  }
}
