// Breakpoints
$xs: '0';
$sm: '544px';
$md: '768px';
$lg: '992px';
$xl: '1200px';
$xxl: '1440px';
$xxxl: '1921px';

// Colors
$c_primary: #6835CC;
$c_secondary: #03E2AB;
$c_text: #6E5F8B;
$c_white: #FFF;
$c_error: #FF5900;
$c_red: #ff3e3e;


//Fonts
$f_main: 'Poppins';
